(function () {
    var env = {
        "firebaseRoot": "https://bike-builder.firebaseio.com/"
    };

    if (typeof window === 'object') {
        window.env = env;
    } else if (module && module.exports) {
        module.exports = env;
    }
})();