<div class="md-toolbar-tools" layout="row">
    <!-- <div hide-gt-sm flex style="max-width: 4rem;">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
    </div> -->
    <div flex>
        <h1>Bike Builder</h1>
    </div>
    <div style="position: fixed; top: .25rem; right: .25rem;">
        <md-fab-speed-dial md-direction="left" class="md-fling" md-open="speedDial.isOpen" ng-mouseenter="speedDial.isOpen = true" ng-mouseleave="speedDial.isOpen = false">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-tooltip md-direction="down">Menu</md-tooltip>
                    <md-icon aria-label="menu">menu</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <div>
                    <md-button aria-label="gears" class="md-fab md-hue-1 md-raised md-mini" ui-sref="master.auth.gears" qv-hide-current-link>
                        <md-tooltip md-direction="down">Gears</md-tooltip>
                        <md-icon aria-label="gears" class="margin-top">settings</md-icon>
                    </md-button>
                    <md-button aria-label="account" class="md-fab md-hue-1 md-raised md-mini" ng-if="user" ui-sref="master.auth.user" qv-hide-current-link>
                        <md-tooltip md-direction="down">Account</md-tooltip>
                        <md-icon aria-label="account" class="margin-top">account_circle</md-icon>
                    </md-button>
                    <md-button class="md-hue-1 md-raised" ng-if="!user" ng-click="showLoginDialog($event)">
                        Log In
                    </md-button>
                    <md-button aria-label="log out" class="md-fab md-hue-1 md-raised md-mini" ng-if="user" ng-click="logOut()">
                        <md-tooltip md-direction="down">Log Out</md-tooltip>
                        <md-icon aria-label="log out">exit_to_app</md-icon>
                    </md-button>
                </div>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</div>